
html, body {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 16px;
    margin:0 auto;
    padding: 0;
}



    
    

header{
    display:flex;
  
    justify-content: center;
     color: white;
     padding: 0.6rem 0;
    background-color:  #333333;
    opacity: 0.9;
    height: 4.2rem;
    margin-bottom: 4rem;
  
    
    
}

.item{
    position:relative;
    background-color: transparent;
    word-spacing: 0.1rem;
    word-spacing: 0.5rem;
    color: #fff;
    padding: 7px 6px;
    border-radius: 10%;
    box-shadow: -1px 0.5px 5px 1px whitesmoke inset;
    
   
    
}

.item:hover{
    padding: 8px 6px;
    border: none;
   
   
}


.pages {
    position: fixed;
    right: 8rem;
    top: 2.5rem;
   
  
}
  
.title{
    font-weight: bold;
    padding-top: 1.5rem;
}


 a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    font-size: smaller;
    font-weight: 600;
   
  
    
}

#senorita {
    color: red;
    font-size: 0.85rem;
}


li {   
    display: inline-block;                                                                                                                                                                                                                                          
}

video, img{
    width: 100%;     
}

.cards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.section{
      display: flex;
      justify-content: center;
      flex-wrap: no-wrap;
      width: 100%;
      padding: 0 1%;
      margin-bottom: 3rem;
  
  }

  #red{
   
    flex-direction: column;
    align-items: center;
   
   padding-left: 0rem;
   padding-right: 0rem;
       background-color: red;
       background-image: url('./projekte/foto1\ .png');
       background-blend-mode: multiply;
      
       background-size: cover;
       background-position: 20% 70%;
     
   }
   #red .tiktok-format{
      
       box-shadow: 4px 3px 10px red ;  
   }
  #lolita {
      background-image: url("./projekte/cc1.png");
      background-position: bottom;
      background-size: 104%;
      
  }



#tiktok {
   
 box-shadow:  3px 3px 8px  gray;
}
 #coffee {
     align-items: center;
     background-image: url('./projekte/coffee7.png');
     background-position: left bottom;
     background-size: cover;
     
}


#universe{
   
    border-radius: 50%;
    width: 70%;
    box-shadow:  2px 2px 6px  hsl(300, 50%, 24%);
    
}
#shape {
    width: 100%;
}


.image-hoch{
    border: 2px solid white;
    width: 50%;
}
.tiktok-format{  
      width: 30%;   
}

.video-quer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 width: 50%;
 
}

.text{
   max-width: 50%;
   
   font-size: 0.9rem;
    line-height: 1.6;
    color: #333333;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
   
        
    }

.button{
    margin: auto 0;
    background-color: transparent;
    word-spacing: 0.1rem;
    color: white;
    width: 100%;
    padding: 7px 0;
    box-shadow: 1px -3px 10px gray inset; 
    
    
}

.button:hover{
    box-shadow: 2px 3px 10px gray; 
}  

#lolita .button{
    color:hsl(43, 12%, 34%);
}



#red .button {
    box-shadow: 3px -3px 10px red inset;  
}

#red .button:hover {
    box-shadow: 3px 3px 10px red ; 
   
  
  

    
}
  .image {
    width:300px;
    background-color: #333333;


    box-shadow: 1px 1px 3px rgb(136, 26, 136);
    border-radius: 3px;
    padding: 0.3rem;
    margin: 1.6rem;
   

  }




 .image-caption{

    padding-top: 0.5rem;
    color: white;
    font-size: 0.85rem;
    line-height: 1.6;
}




.first-line {
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
}






@media only screen and (max-width: 600px) {
    header  {
      width: 100%;
      margin-bottom: 4rem;
      background-color:hsl(300, 84%, 65%);
    }
    
    .pages{
       
        margin-top: 0.5rem;
      font-size: 0.9rem;
       right: 0.2rem;
       
    
    }

   .title{
      margin-top: 0.0rem;
   } 

   .item{
    padding: 5px 4px;
   }

   .section{
       
    flex-direction: column;
    align-items: center;
  
}
.tiktok-format{
    width: 100%;
}
.image-hoch, .video-quer {
   
    width: 100%;
    
}
.text{
    max-width: 100%;
  
    padding: 1rem 1rem;
}

#lolita{
    background-image:  none;
    background-color:hsl(300, 84%, 65%);
    
}
#lolita .button {
    color: white;
}


#universe{
    margin-top: 1rem;
   width: 25%;
   
}

   

  }