
html, body {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 16px;
    margin:0 auto;
    padding: 0;
}

header{
   text-align: center;
    background-color: #333333;
    color: white;
    opacity: 0.9;
    padding: 0.6rem 0;
    height: 4.2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
    header  {
      
      flex-direction: column;
      
   
    }
    .image-caption {
        font-size: 0.7rem;
    }

}
video, img{
    width: 100%;
    text-align: center;
    
}



.spacer{
  
    display: flex;
    max-width: 1200px;
    margin:auto;
 justify-content: center;
   
}

.cards {
    
    
    display: flex;
    
    flex-wrap: wrap;
  
  
    
  }
  
  .column{
      
      
  }
  .image {
    width:350px;
    background-color: #333333;
    opacity: 0.9;
    box-shadow: 5px 15px 15px silver;
    padding: 0.4rem;
    margin: 0.4rem;
   

  }




  .image-box {
   
   
}
.image-caption{
    color: white;
    font-size: 0.85rem;
}